
<h2 id = "h2">客戶忠誠度分析系統</h2>
<p>地區</p>
<div>
<%= collection_select( :Region_Code, :Region_Name, Regioncode.all, :Region_Code, :Region_Name)%>
</div>
<p>年度</p>
<div>
<%= select_tag(@startDate, options_for_select([['2007', '2007-01-01'], ['2008', '2008-01-01'], ['2009','2009-01-01'], ['2010','2010-01-01'], ['2011','2011-01-01']], '2007-01-01')) %>
</div>
<p>到</p>
<div>
<%= select_tag(@endDate, options_for_select([['2007', '2007-12-31'], ['2008','2008-12-31'], ['2009','2009-12-31'], ['2010','2010-12-31'], ['2011','2011-12-31']], '2007-12-31')) %>
</div>
<p>次數</p>
<div>
<%= select_tag(@gender, options_for_select([['男','男'], ['女', '女']], '女')) %>
</div>
<div>
<%= link_to "分析",  dashboards_path(@startDate, @endDate, gender) %>
</div>)